In [1]:
import pandas as pd

In [5]:
df1 = pd.read_csv('grid_search_results_lr_1.csv')
df2 = pd.read_csv('grid_search_results_lr_3e-05.csv')
df3 = pd.read_csv('grid_search_results_lr_5e-05.csv')
df4 = pd.read_csv('grid_search_results_lr_7e-05.csv')

In [6]:
dataframes = [df1, df2, df3, df4]
df = pd.concat(dataframes, ignore_index=True)

In [7]:
df

,learning_rate,batch_size,weight_decay,epochs,val_accuracy,val_f1_score
0,0.00001,8,0.01,4,0.827971,0.797527
1,0.00001,8,0.01,6,0.809586,0.787390
2,0.00001,8,0.01,8,0.795798,0.778332
3,0.00001,8,0.05,4,0.830598,0.782462
4,0.00001,8,0.05,6,0.828628,0.797517
...,...,...,...,...,...,...
175,0.00007,32,0.15,6,0.784636,0.768688
176,0.00007,32,0.15,8,0.818122,0.775709
177,0.00007,32,0.20,4,0.823375,0.796674
178,0.00007,32,0.20,6,0.779383,0.763713
179,0.00007,32,0.20,8,0.778070,0.762640

In [9]:
df.nlargest(10, 'val_f1_score')

,learning_rate,batch_size,weight_decay,epochs,val_accuracy,val_f1_score
24,0.00001,16,0.15,4,0.848982,0.807370
25,0.00001,16,0.15,6,0.837820,0.802873
7,0.00001,8,0.10,6,0.837163,0.800643
126,0.00005,32,0.10,4,0.825345,0.799699
48,0.00003,8,0.05,4,0.839790,0.799672
19,0.00001,16,0.05,6,0.834537,0.799363
93,0.00005,8,0.05,4,0.838477,0.799347
41,0.00001,32,0.15,8,0.829941,0.799069
6,0.00001,8,0.10,4,0.831911,0.799058
111,0.00005,16,0.10,4,0.828628,0.798766

In [10]:
df.nlargest(10, 'val_accuracy')

,learning_rate,batch_size,weight_decay,epochs,val_accuracy,val_f1_score
24,0.00001,16,0.15,4,0.848982,0.807370
48,0.00003,8,0.05,4,0.839790,0.799672
45,0.00003,8,0.01,4,0.839133,0.793944
93,0.00005,8,0.05,4,0.838477,0.799347
25,0.00001,16,0.15,6,0.837820,0.802873
7,0.00001,8,0.10,6,0.837163,0.800643
39,0.00001,32,0.15,4,0.835850,0.797078
19,0.00001,16,0.05,6,0.834537,0.799363
51,0.00003,8,0.10,4,0.833880,0.796787
121,0.00005,32,0.01,6,0.833880,0.796787

In [11]:
df.to_csv('grid_final.csv', index=False)